<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/material.icons.css"/>
    <link rel="stylesheet" href="assets/css/materialize.min.css"/>
    <link rel="stylesheet" href="assets/css/design.css"/>
    <title></title>
</head>
<body>
<div class="left">
    <ul id="slide-out" class="side-nav fixed">
        <div class="center-align">
            <h5><b>LoBoStreAm</b></h5>
        </div>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</div>
<div class="col s12 content">
    <div class="col s12 center-align">
        <p>Upload & Convert</p>
        <input type="file" />
    </div>
</div>

<script type="application/javascript" src="assets/js/jquery.js"></script>
<script type="application/javascript" src="assets/js/materialize.min.js"></script>
<script type="application/javascript" src="assets/js/script.js"></script>
</body>
</html>